<div class="container col-9">
         
	  <div class="jumbotron jumbotron-fluid mt-4">
      
      <div class="container">
      
          <div class="row">
          
              <div class="col-12 text-center my-4" style="font-size: 3em; color: black">
              
                  <h1 class="display-4"><i class="fa fa-paper-plane text-danger" aria-hidden="true"></i></h1>
              
              </div>
          
          </div>
          
          <div class="row justify-content-center mb-5">
          
            <div class="col-sm-12 col-md-10 col-lg-8">
            
                       
            <form action="../Controller/cadastrarUsuario_comumController.php" method="post">

                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                    
                            <label for="inputNome">Nome</label>
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" name="nome" required="" maxlength="45"/>
                       
                        </div>
                        
                        <div class="form-group col-sm-6">
                        
                            <label for="inputSobrenome">Sobrenome</label>
                            <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome" name="sobrenome" required="" maxlength="45"/>
                        
                        </div>
                        
                    </div>
                    
                    
                    
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                        
                            <label for="inputTelefone">Telefone Fixo *</label>
                            <input type="text" class="form-control" id="inputTelefone" placeholder="(00) 0000-0000" name="telefone"   maxlength="10" minlength="4">
                        
                        </div>
                        
                       	<div class="form-group col-sm-6">
                        
                            <label for="inputCelular">Celular *</label>
                            <input type="text" class="form-control" id="inputCelular" placeholder="(00) 00000-0000" name="celular"   maxlength="11">
                        
                        </div>
                        	 
                          
				     	<div class="form-group col-sm-12">
                        
                            		<label for="inputEmail">Digite seu e-mail 	</label>
                            		<input type="email" class="form-control" id="inputEmail" placeholder="E-mail" name="email"  required="" maxlength="40">
                    
                    	</div>
                  

				     	<div class="form-group col-sm-6">
                        
                            		<label for="inputSenha">Senha</label>
                            		<input type="password" class="form-control" id="inputSenha" placeholder="senha" name="senha" required=""  >
                    
                    	</div>

                    	<div class="form-group col-sm-6">
  								<label for="sel1">Cadastrar FOOD TRUCK</label>
  										<select class="form-control" id="sel1" name="temfood" required="">
    										<option value="">::Selecione::</option>
    										<option value="nao">NÃO</option>
  										  <option value="sim">SIM</option>
                      </select>
						</div>

                    </div>
                    
                    <div class="form-row">
                    
                        <div class="form-group col-sm-12">
                        
                            <div class="form-check">
                            
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Desejo receber novidades de eventos por e-mail?
                                </label>
                            
                            </div>
                        
                        </div>
                    
                    </div>
                    
                    <div class="form-row">
                    
                        <div class="col-sm-12">
                        
                            <button type="submit" class="btn btn-danger">Enviar</button>
                            
                            <a tabindex="0" class="btn btn-primary ml-2" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Qualquer duvida entre em contato conosco no e-mail: food@gmail.com">Ajuda</a>
                        
                        </div>
                    
                    </div>

                
                </form>
              
            </div>
			</div>
			</div>
			
          
          </div>
      
	
        
      
    </div>